* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-body);
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-title);
}

a,
p,
input,
textarea {
  font-family: var(--ff-body);
}

p {
  line-height: 1.5;
}

.section-title {
  text-transform: capitalize;
}

/* ## buttons ## */
.btn {
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  margin: auto 0.5rem;
  color: var(--black);
  display: inline-flex;
  gap: 0.75rem;
  align-items: center;
  outline-offset: 3px;
  justify-content: center;
  border-radius: 3rem;
  border: none;
  cursor: pointer;
  text-transform: capitalize; /* transform */
  font-family: var(--ff-body); /* font family */
  font-weight: var(--fw-bold); /* font weight */
  font-size: 1.125rem; /* font size */
  user-select: none;
  transition: var(--time-faster);
}

@media (width < 75rem) {
  .btn {
    font-weight: var(--fw-medium);
    padding: 1rem;
  }
}

.btn-icon {
  display: inline-block;
}

.btn-primary {
  background: var(--yellow-500);
}

.btn-primary:hover {
  background: var(--yellow-600);
}

.btn-secondary {
  color: var(--white);
  border: 1px solid var(--white);
}

.btn-secondary:hover {
  color: var(--black);
  background: var(--white);
}

.btn-container {
  padding: 1.5rem;
}

.btn-primary:focus,
.btn-secondary:focus {
  outline: 3px dotted;
  outline-color: invert;
}

/* ## links ## */
.link {
  color: var(--mozilla-blue-600);
  display: inline-flex;
  justify-content: center;
  text-decoration: underline;
  align-items: center;
  outline-offset: 2px;
  gap: 0.25rem;
  /* font-weight: var(--fw-medium); */
  /* text-decoration: none; */
}

.link-icon {
  display: inline-block;
  /* border: 1px solid; */
  font-size: 1rem;
}

.link:hover {
  color: var(--mozilla-blue-500);
}

.link:focus {
  outline: 3px dotted;
  outline-color: invert;
}

/* ## details and summary ## */
details {
  padding: 1rem 1.5rem;
  background: var(--grey-200);
  user-select: none;
  text-align: left;
  font-family: inherit;
  margin: 1rem auto;
  cursor: pointer;
  outline-offset: 3px;
}

details[open] summary {
  outline: 3px dotted;
}

summary {
  font-weight: var(--fw-bold);
  margin: 0.5rem auto;
}

input,
textarea {
  display: block;
  width: 30rem;
  padding: 0.75rem 1rem;
  font-family: inherit;
  margin: 1rem 0;
  font-size: 1.125rem;
}

textarea {
  height: 10rem;
}
